<!-- wp:template-part {"slug":"header","theme":"calm-canvas","tagName":"header"} /-->

<!-- wp:pattern {"slug": "calm-canvas/header-008"} /-->

<!-- wp:pattern {"slug": "calm-canvas/content-011"} /-->

<!-- wp:pattern {"slug": "calm-canvas/content-012"} /-->

<!-- wp:pattern {"slug": "calm-canvas/content-013"} /-->

<!-- wp:pattern {"slug": "calm-canvas/content-014"} /-->

<!-- wp:pattern {"slug": "calm-canvas/cta-005"} /-->

<!-- wp:template-part {"slug":"footer","theme":"calm-canvas","area":"footer"} /-->